<!doctype html>
<html>
<head>
    <title>Add Product</title>
</head>
<body>
    <h1>Add New Product</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.count.label }}<br>
            {{ form.count() }}
        </p>
        <p>
            {{ form.expired_date.label }}<br>
            {{ form.expired_date() }}
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=64) }}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image() }}
        </p>
        <p><input type="submit" value="Add Product"></p>
    </form>
    <a href="{{ url_for('index') }}">Back to Product List</a>
</body>
</html>
